* {
    font-family: Verdana;
    font-size: 10px;
}
h1 {
    font-size: 16px;
    color: #4E3513;
}
a img {
    border: 0px solid;
}
h2 {
    font-size: 12px;
    color:black;
    font-weight: bold;
    background-color: lightgrey;
    padding: 5px;
}
root { 
    display: block;
}
body {
    background-image:url('https://oxilion.nl/img/bg2.png');
    background-position:right top;
    background-repeat:no-repeat;
}
#logo {
    padding: 10px;
    width: 170px;
    display: inline-block;
    zoom: 1;
    *display:inline;
}
#inhoud {
    width: 600px;
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
}

#main {
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    position: abolute;
    width: 800px;
    min-height: 600px;
    float: left;
}
input {
    padding: 2px;
    margin: 2px;
    border: 1px solid darkgrey;
    min-width: 70px;
}
.rounded {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    /*  behavior:url('/css/border-radius.htc');
    */
}
td.top {
    font-weight: bold;
}
td.first {
    width: 200px;
}
td.prijs {
    width: 100px;
}
td.bij {
    width: 150px;
}
.blok {
    margin: 10px;
    padding: 10px;
    border: 1px solid darkgrey;
}
.oeps {
    display: inline-block;
    width: 100px;
    background-color: #FF6600;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    text-align:center;
}
.goed {
    display: inline-block;
    width: 100px;
    background-color: #669933;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    text-align:center;
}
.menu {
    padding-left: 20px;    
}
a {
    color: black;
}
.infoMsg {
    margin: 10px;
    padding: 10px;
    border: 2px solid #CC0000;
    color: #CC0000;
    position: fixed;
    top: 5px;
    left: 50px;
    background-color: white;
    width: 780px;
}

